<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kerols.imagetopdf"
    >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/disclogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiscoveryEMPApp"
        tools:targetApi="31">
        <activity
            android:exported="false"
            android:name=".MakeApdf"
           />
        <activity
            android:exported="false"
            android:name=".PDFGetter" />
        <activity
            android:exported="false"
            android:name=".OpenPDF" />
        <activity
            android:exported="false"
            android:name=".Emailsetup" />
        <activity
            android:exported="false"
            android:name=".Projects" />
        <activity
            android:exported="false"
            android:name=".TeamInfo" />
        <activity
            android:exported="false"
            android:name=".Resources" />
        <activity
            android:exported="false"
            android:name=".SystemsOfEngagement" />
        <activity
            android:exported="false"
            android:name=".MyOffice" />
        <activity
            android:exported="false"
            android:name=".Mydashboard" />
        <activity
            android:exported="false"
            android:name=".MyOnboarding" />
        <activity
            android:exported="false"
            android:name=".Getinfo" />
        <activity
            android:exported="false"
            android:name=".Editinfo" />
        <activity
            android:exported="false"
            android:name=".BottomNavMenu" />
        <activity
            android:exported="true"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:exported="false"
            android:label="@string/title_activity_menu"
            android:name=".Menu" />
    </application>

</manifest>